<%- include header %>
<form method="post">
  Username：<input type="text" name="name"/><br />
  <br/>
  Password：<input type="password" name="password"/><br /><br/>
         <input type="submit" value="login"/>
</form>
<%- include footer %>