<%- include header %>
<form method="post">
  Username：  <input type="text" name="name"/><br /><br/>
  Password：    <input type="password" name="password"/><br /><br/>
  Confirm password：<input type="password" name="password_repeat"/><br /><br/>
  Email Address：    <input type="email" name="email"/><br /><br/>
           <input type="submit" value="register"/>
</form>
<%- include footer %>